/node_modules
/public/hot
/public/storage
/public/assets/images/avatar/*
/public/assets/images/comment/*
/public/assets/images/sub_task/*
/storage/*.key
/storage/logs
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker/mysql
docker-compose.yml
composer-setup.php
nohup.out
dump.rdb
echo.json
uat_echo.json
laravel-echo-server.json
laravel-echo-server.lock
public/.well-known/